{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<nav class="navbar">
    {%if request.user.is_authenticated %}
        <section class="logo-section"><a href=""><img class="logo" src=""/></a> 
            
                <div class='logname'>
                    <i class="fab fa-instagram"></i>
                    <a href="{% url 'index' %}">
                    <img class="logoname" src="{% static 'images/insta_text.svg' %}"/></a>
                </div> 
        </section>
            <form action="{% 'search_users' %" role="search"  class="search-section">
                <input class="input-search" type="search" name="searchItem" placeholder="search user....."/>
            </form>
            <a href="{% url 'create'%}" class="nav-item nav-link">Create Post</a>
        <section class="icons-section">
           
            <!-- <a class="fa fa-heart" href="#"></a> -->
            <a class="fa fa-user" href="/profile/"></a>
            <a href="">Log out</a>
        </section>
    {% endif %}

</nav>