<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous">

<nav class="navbar">
        {%if request.user.is_authenticated %}
    <section class="logo-section"><a href=""><img class="logo" src=""/></a> 
    <div></div><a href="/home/derrick/Desktop/Django/Week2/IP/Instagram-clone/static/images/256px-Instagram_logo.svg.png"><img class="logoname" src="images/256px-Instagram_logo.svg.png"/></a> 
  </section>
  <form action="{% 'search_users' %" role="search"  class="search-section">
    <input class="input-search" type="search" name="searchItem" placeholder="search user....."/>
  </form>
  <section class="icons-section">
    <a class="fa fa-heart" href="#"></a>
    <a class="fa fa-user" href=""></a>
    <a href="">Log out</a>
</section>
{% endif %}

</nav>