{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <h1>Search</h1>
   {% for usr in searched_user %}
<div class="row profile-settings">
  <div class="col-xs-12">
    <div class="profile-pic-name">
        <img class="picture-circle--medium" src="{{ usr.profile_path.url }}">
        
        <span class="username">Username:<a href=""> {{usr.}}{{ usr.user.username }}</a> </span>
      <span class="username">Bio: {{ usr.bio }}</span>
    </div>
  
  </div>
</div>
{% endfor %}
</body>
</html>
{% endblock %}

