{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div  class="container" style="margin: auto; width: 40%">
    <div class="content-section">
        <form action="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb -4">Instagram</legend>
                {{form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}